{% extends "todo_lists/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>Hello {{ user.username }}</p>

  <h1>Todo List: <span><button><a href="{% url 'todo_lists:new_entry' %}">New entry</a></span></button></h1>
  {% for entry in entries %}
    <h2>{{ entry.heading }} <span><button><a href="{% url 'todo_lists:edit_entry' entry.id %}">Edit entry</a></span></button></h2>
    <p>{{ entry.text }}</p>
    <a href="{% url 'todo_lists:new_note' entry.id %}">New note</a>
    {% for note in notes %}
      {% if note.parent_entry.id == entry.id %}
        <h3>{{ note.heading }} <span><button><a href="{% url 'todo_lists:edit_note' note.id entry.id %}">Edit note</a></span></button></h3>
        <p>{{ note.text }}</p>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  <p>You need to log in to use Todo Lists</p>
  <a href="{% url 'users:login' %}">Log in</a>
{% endif %}

{% endblock %}